<div>
  <form (ngSubmit)="generateTan()">
  <div class="row">
    <md-card>
      <md-card-title><br/><h4>New Transaction:</h4></md-card-title>
      <md-card-content>
        <div class="card-block">
          <md-input-container class="example-full-width">
            <input mdInput type="text" id="iban" name="recipient" placeholder="Recipient IBAN:" [(ngModel)]="transaction.ibanReceiver" required/>
          </md-input-container><br/>
          <md-input-container  class="example-full-width">
            <input mdInput type="number" id="amount" name="amount" placeholder="Amount:" [(ngModel)]="transaction.value" required/>
          </md-input-container><br/>

          <md-input-container  class="example-full-width">
            <input mdInput type="text" id="paymentReference" name="paymentReference" placeholder="Payment Reference:" [(ngModel)]="transaction.paymentReference"/>
          </md-input-container><br/>
          <md-input-container  class="example-full-width">
            <input mdInput type="text" id="category" name="category" placeholder="Category:" [(ngModel)]="transaction.category"/>
          </md-input-container><br/>

          <button md-raised-button class="md-primary">Send</button>
          <!--<md-button md-fab type="submit" class="btn btn-success">Send</md-button>-->
        </div>
    </md-card-content></md-card>
      </div>
  </form>
</div>

