<div>


  <h1 id="hello">Hello {{firstName}}!</h1>

  <br/>
  <br/>
  <div class="row">
    <div class="col-md-4">
      <h4><b>Balance:</b></h4>
    </div>
    <div class="col-md-16">
      <h4>{{account?.balance}}</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h4><b>IBAN:</b></h4>
    </div>
    <div class="col-md-16">
      <h4>{{account?.iban}}</h4>
    </div>
  </div>
  <br/>
  <h4>Transactions:</h4>
  <br/>

  <div class="row">

      <p-dataTable [value]="transactions">
        <p-column field="value" header="Value"></p-column>
        <p-column field="date" header="Time">
          <ng-template let-transaction="rowData" pTemplate="body">
            <span>{{transaction.date| date:'medium' }}</span>
          </ng-template>
        </p-column>
        <p-column field="ibanSender" header="From"></p-column>
        <p-column field="ibanReceiver" header="To"></p-column>

        <p-column>
          <ng-template let-transaction="rowData" pTemplate="body">
            <button type="button" md-button (click)="selectDetails($event, transaction, op);">Details</button>
          </ng-template>
        </p-column>

      </p-dataTable>

    <p-overlayPanel #op>

      <div class="ui-g-12" *ngIf="selectedTransaction">
        <div class="ui-g-2" >Value</div>
        <div class="ui-g-4">Category</div>
        <div class="ui-g-6">Payment Reference</div>
      </div>
      <div class="ui-g-12" *ngIf="selectedTransaction">
        <div class="ui-g-2">{{selectedTransaction.value}}</div>
        <div class="ui-g-4">{{selectedTransaction.category}}</div>
        <div class="ui-g-6">{{selectedTransaction.paymentReference}}</div>
      </div>
    </p-overlayPanel>

  </div>


  <!--<span class="done">-->
          <!--<button md-fab>-->
            <!--<md-icon>check circle</md-icon>-->
          <!--</button>-->
        <!--</span>-->

</div>
